# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
backend/.env
backend/venv
political_science_v3.binary
backend/__pycache__/asr_engine.cpython-311.pyc
backend/__pycache__/asr_engine.cpython-311.pyc
backend/__pycache__/llm_handler.cpython-311.pyc
